.aside {
    display: flex;
    flex-direction: column;
    margin: 0% auto;
    padding-top: 238px;
}
.sign {
   

}
.wrapper {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 130%;
    /* or 40px */

    text-align: center;
    text-transform: uppercase;

    /* #FFFFFF */

    color: #FFFFFF;
}
.text {
    padding-top: 25px;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    text-align: center;

    /* #FFFFFF */

    color: #FFFFFF;

    opacity: 0.8;
}
.block {
}
.setting {
}
.label {
}
.caption {
}
.setting2 {
}
.setting3 {
}
.setting4 {
}